body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.headerOne{
    height: 110px;
    width: 100vw;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border:0px solid rgba(154,130,112,.2);
    display: flex;
    flex-direction: row;
    padding:  10px 100px;
    box-sizing: border-box;
    justify-content: space-between;
}
.alim{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.alim1{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.alim2{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 48px;
    width: 48px;
    cursor: pointer;
    flex-direction: row;
    margin-left: 200px;
}
.header-menuOne{
    position: absolute;
    content: "";
    top: 43%;
    height: 2px;
    width: 22px;
    background-color: #191e27;
}
.header-menuTwo{
    position: absolute;
    content: "";
    top: 50%;
    height: 2px;
    width: 22px;
    background-color: #191e27;
}
.header-menuThree{
    position: absolute;
    content: "";
    top: 57%;
    height: 2px;
    width: 22px;
    background-color: #191e27;
}
.header-address{
    display: flex;
    flex-direction: row;
    padding: 20px 50px 20px 50px;
    background-color: rgba(60,60,60,0.26);
    border-radius: 10px;
    height: 10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.header-address:hover{
    background-color: red;
    color: white;
    transition: all .1s ease-in;
}
.nevtreh{
    color: #9d9d9d;
    font-weight: 300;
    display: flex;
    position: relative;
    background-size: contain;
    align-items: center;
    cursor: pointer;
}
.hover:hover {
    color: black;
}
.sags{
    color: #9d9d9d;
    font-weight: 300;
    display: flex;
    position: relative;
    background-size: contain;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.sags:hover{
    color: black;
}
.english{
    color: black;
    font-weight: 300;
    display: flex;
    position: relative;
    background-size: contain;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.english:hover{
    color: red;
}
.YourBusket{
    display: flex;
    align-items: center;
    width: 1500px;
    height: 55px;
    margin-bottom: 50px;
    margin-top: 40px;
    margin-left: 450px;
}
.Text{
    display: flex;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
    margin-right: 1000px;
}
.Text1{
    position: absolute;top: 150px; left: 1600px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: black;
    color: white;
    width: 230px;
    height: 50px;
    border-radius: 4px;
}
.Text1:hover{
    background-color: #e4002b;
}


.img{
    margin-left: 600px;
}
.TenderBagts{
    grid-area: TenderBagts;
    font-size: 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 5px;
}
.textText{
    color: #9d9d9d;
}
.textText:hover{
    color: #000;
    cursor: pointer;
}
.BurgerBagts{
    grid-area: BurgerBagts;
    margin-left: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 5px;
}
.DanBagts{
    grid-area: DanBagts;
    margin-left: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 5px;
}
.HacirBagts{
    grid-area: HacirBagts;
    margin-left: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 5px;
}
.DrinkBagts {
    grid-area: DrinkBagts ;
    margin-left: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-radius: 5px;
}
.TenderText{
    display: flex;
    align-items: center;
    width: 1000px;
    height: 24px;
    font-size: 21px;
    color:black;
    margin-left: 410px;
    margin-top: 55px;
    margin-bottom: 10px;
}

.TenderteiBagts{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 480px 480px;
    grid-template-areas:
    "party aylal OneHuman" 
    "Friends WeAre hooson";
    margin-left: 410px;
    gap: 20px;
}
.TenderteiBagtsTwo{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 480px 480px;
    grid-template-areas:
    "party aylal OneHuman" 
    "Friends WeAre hooson"
    "partyTwo aylalTwo OneHumanTwo"
    ;
    margin-left: 410px;
    gap: 20px;
}
.TenderteiBagtsThree{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 450px ;
    grid-template-areas:
    "party aylal OneHuman" 
    ;
    margin-left: 410px;
    gap: 20px;
}
.TenderteiBagtsFour{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 480px 480px;
    grid-template-areas:
    "party aylal OneHuman" 
    "Friends WeAre hooson";
    margin-left: 410px;
    gap: 20px;
}
.party{
    display: flex;
    justify-content: center;
    grid-area: party;
    padding: 15px; 
    align-items: center;
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
    box-shadow:  0px 0px 5px 0px #777777;
    border: 0.1px solid white;
}
.imageOne{
    display: flex;
    justify-content: center;
    width: 90%;
    height: 270px;
}
.imageOne:hover{
    background-color: #dddddd;
    cursor: pointer;
}
.imageOne:hover + .TenderTextOne{
    color: #000;
    cursor: pointer;
}
.boxCostContainer{
    width: 100%;
    height: 30%;
}
.TenderTextOne{
    color: gray;
    margin: 10px;
    font-size: 20px;
}
.boxCostCostContainer{
    color: #e4002b;
    margin:10px;
    font-size: 30px;
}
.boxButton{
    color: white;
    background-color: #e4002b;
    width: 100%;
    height: 50px;
    border: 0.1px solid #e4002b;
    border-radius: 5px;
    margin: 5px;
    font-size: 20px;
}
.boxButton:hover{
    background-color: #a70321;
    cursor: pointer;
}
.Friends{
    display: flex;
    justify-content: center;
    grid-area: Friends;
    padding: 15px; 
    align-items: center;
    background-color: white;
    border: 1px solid white;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 0px gray;
}
.aylal{
    display: flex;
    justify-content: center;
    grid-area: aylal;
    padding: 15px; 
    align-items: center;
    background-color: white;
    flex-direction: column; 
    border-radius: 10px;
    box-shadow:  0px 0px 5px 0px #777777;
    border: 0.1px solid white;
}
.OneHuman{
    display: flex;
    justify-content: center;
    grid-area: OneHuman;
    padding: 15px; 
    align-items: center;
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
    box-shadow:  0px 0px 5px 0px #777777;
    border: 0.1px solid white;
}
.buteegdehun{
    position: absolute; top: 270px; left: 1440px;
    width: 380px;
    height: 270px;
    border: 0.1px solid white;
    border-radius: 5px;
    box-shadow:  0px 0px 5px 0px #777777;
}
.baraaUne{
   display: flex;
   align-items: center;
    height: 33px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    color: #777777;
    font-size: 16px;
    font-weight: bold;
}
.hurgeltUne{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    height: 33px;
    color: #777777;
    font-size: 16px;
    font-weight: bold;
}
.une{
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    height: 33px;
    color: black;
    font-size: 20px;
    font-weight: bold;

}
.zuraas{
    margin-top: 20px;
    margin-left: 30px;
     width: 320px;

  

}
.boxButtonTwo{
    color: white;
    background-color:#9d9d9d;
    width: 320px;
    height: 50px;
    border: 0.1px solid #9d9d9d;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
}
.boxButtonTwo:hover{
    background-color: #a70321;
    cursor: pointer;
}
.baraaText{
    margin-left: 200px;
    color: black;
    font-size: 20px;
}
.hurgeltText{
    margin-left: 200px;
    color: black;
    font-size: 20px;
}
.uneText{
    margin-left: 250px;
    color: #e4002b;
    font-size: 25px;
}
.your{
    margin-left: 20px;
    height: 50px;
    width: 500px;
}
.NothingInTheBusket{
    margin-left: 300px;
}
.empty{
    font-weight: bold;
    font-size: 20px;
}

.imageOne{
    width: 270px;
    height: 270px;
}
.red {
    background-color: red;
    height: 50px;
    margin-left: 10px;
    width: 25px;
}

.white {
    background-color: white;
    height: 50px;
    width: 25px;

}

.red1 {
    background-color: red;
    height: 50px;
    width: 25px;
}

.white1 {
    background-color: white;
    height: 50px;
    width: 25px;
}

.red2 {
    background-color: red;
    height: 50px;
    width: 25px;
}

.as {
    margin-left: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.a {
    border: 1px solid rgba(154, 130, 112, .2);
    display: flex;
    padding-left: 500px;
    padding-right: 100px;
    padding: 50px 50px 50px 500px;
}

.y {
    padding-left: 910px;
    display: flex;
    padding-left: 500px;
    padding-right: 100px;
 padding-top: 10px;
   
}

h3{
    margin-top: 10px;
    padding: 10px;
}

.assasa{
    display: flex;
    flex-direction: row;
    padding: 5  px;
}
.d{
    padding: 0px;
    padding-left: 199px;
}
.r{
    padding-left: 50px;
    font: 100; 
}
.s{
    color: silver;
}
.footer{
    margin-top: 100px;
}
